.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.goJSmessage {
  position: absolute;
  bottom: 10px;  /* 메시지를 화면 하단으로 이동 */
  right: 10px;  /* 메시지를 화면 오른쪽으로 이동 */
  background-color: rgba(0, 0, 0, 0.5);  /* 반투명 배경 */
  color: white;
  padding: 5px;
  border-radius: 3px;
  z-index: 1000;  /* 메시지가 다른 요소 위에 표시되도록 */
}